/*base css for a base page*/
.page{
}

.page p{
    padding-inline: 12px;
}
/*for the big word!*/
.titleHeader{
    font-family: 'Lora', serif;
    padding-block: 20px;
    font-weight: bold;
    color: #254336;
    font-size: 40px;
}

/*links*/
.page a{
    text-decoration: underline;
    color: #6B8A7A;
    font-style: italic;
}

.page a:hover{
    color: #A4CCD9;
}

.page a:visited{
    color: #E83F25;
}


.center-aligned-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
}

.left-aligned-text {
    display: block;
    text-align: left;
    margin: 0 120px 0 120px;
}

.left-aligned-text-large-margin {
    display: block;
    text-align: left;
    margin: 0 400px 0 400px;
}

.subteam-logo-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 250px;
}

.link-button {
    /* Layout */
    display: inline-block;
    padding: 10px 25px;

    /* Border & Shape */
    border: 2px solid #5786b8;
    border-radius: 5px;

    /* Text Styling */
    color: #78a6d3 !important;
    text-decoration: none; /* Removes the default link underline */
    font-weight: bold;
    font-family: sans-serif;

    /* Animation */
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover State: Fills the button with color */
.link-button:hover {
    background-color: #76a7dd;
    color: white !important;
}
