.geoBanner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 450px;
}

.banner{
    object-fit: fill;
}

.home-text {
    display: block;
    text-align: left;
    margin: 30px;
}

.upcoming-events{
    padding-block: 10px;
    height: 400px;
}
