.teamContainerRef{
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 4rem;
    padding-block: 2rem;
    background-color: #D9EAFD;
}

.member-cards{
    padding-bottom: 5rem;
}


.subheading{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 2rem;
    color: #086a49;
    font-size: 35px;
}
