.teamContainerRef{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-block: 2rem;
    background-color: #D9EAFD;
}

.projectContainerRef{
    width: 100%;
    justify-content: left;
    gap: 4rem;
    padding-block: 2rem;
    background-color: #D9EAFD;
}

.member-cards{
    padding-bottom: 5rem;
}

.subheading{
    font-family: 'Lora', serif;
    font-weight: bold;
    padding-top: 2rem;
    color: #086a49;
    font-size: 20px;
}

.subheading-projects{
    font-family: 'Lora', serif;
    font-weight: bold;
    padding-top: 2rem;
    font-size: 20px;
}
