.mission-header {
    font-family: 'Lora', serif;
    padding-block: 50px;
    font-weight: bold;
    color: #254336;
    font-size: 100px;
}


.mission-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 40px; /* Space between text and image */
}

/* Make the first item take 50% of the width */
.mission-flex-container > :first-child {
    flex: 0 0 50%;
    max-width: 50%;
}

