.mission-header {
    font-family: 'Lora', serif;
    font-weight: bold;
    color: #254336;
    font-size: 50px;
}


.mission-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 30px;
}

/* Make the first item take 40% of the width */
.mission-flex-container > :first-child {
    flex: 0 0 40%;
    max-width: 40%;
}


.mission-left-aligned-text {
    display: flex;
    text-align: left;
    margin: 0 50px 0 50px;
}

.mission-left-aligned-text ul {
    list-style-type: disc; /* Ensures bullets appear */
    padding-left: 20px;
}

.mission-left-aligned-text li {
    display: list-item;
    margin-bottom: 10px;
}


