.projContainerRef{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-block: 2rem;
    background-color: #D9EAFD;
}

.project-cards{
    padding-bottom: 5rem;
}



.subheading-projects{
    font-family: 'Lora', serif;
    font-weight: bold;
    padding-top: 2rem;
    font-size: 20px;
}
