.info-box{
    margin-top: 50px;
    margin-bottom: 50px;
    float: 0;
    padding-bottom: 20px;
    margin-inline: 20%;
    background-color: rgb(255 255 255/75%);
}



.team-photo{
    min-height: 914px;
    display: inline-block;
    background-position: top;
    background-image: url('../assets/images/members/teamphoto_resized.png');
    background-repeat: no-repeat;
    /*somehow i don't think background works with auto... 
    or rather it won't resize for the background. 
    maybe i need to change it back into an image?*/
}
.gpta{
    color: #254336;
}